* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppns';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('../fonts/poppins-v9-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v9-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: local('Poppins Black'), local('Poppins-Black'),
       url('../fonts/poppins-v9-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v9-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



.header__button1
  button {
    position: absolute;
    width: 148;
    height: 60px;
    left: 950px;
    top:53px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
    
    display: flex;
    align-items: center; 
    padding-left: 55px;
    color: #001958;
}

button {
  position: absolute;
  width: 236px;
  height:57px;
  right: 600px;
  top: 38px;
  background: #FFFFFF;
  border-radius: 100px;
  
   
}
 
@media (max-width:786px){
  .header__button1{
    display: none;
  }}
  @media (max-width:1024px){
    .header__button1{
      position: absolute;
      width: 236px;
      height:57px;
      right: 1050px;
      top: 38px;
      background: #FFFFFF;
      border-radius: 100px;
      align-items: flex-end;
      
      
    }}




.main

.intro{
  position: absolute;
  width: 100%;
  height: 772px;
  left: 0px;
  top: 0px;


  background:  url(./img/Rectangle.jpg.jpg) no-repeat center;
}
@media (min-width:400px) {
  .intro{
    width: 100%;
    
  }}

@media (min-width:768px) {
  .intro{
    width: 100%;
    height: 772px;
  }}
  @media (min-width:1024px) {
    .intro{
      width: 100%;
      height: 772px;
    }}
  

.logo{
  position: absolute;
  
  left: 130px;
  top: 100px;
}
@media (min-width:400px) {
  .logo{
    top: 50px;
    left: 80px;
  }
}
@media (min-width:768px) {
  .logo{
    top: 183px;
    left:15px;
  }
}
@media (min-width:1024px) {
  .logo{
    position: absolute;
  
  left: 100px;
  top: 183px;
  }
}


.intro__title1{
  position: absolute;
  width: 500px;
  height: 80px;
  left:211px;
  top: 170px; 

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900px;
  font-size: 30px;
  line-height: 60px;

  color: #FFFFFF;

}
@media (min-width:400px){
  .intro__title1{
    width: 100%;
    top: 170px;
   left:20px ;}}

@media (min-width:768px){
    .intro__title1{
      width: 50%;
      top: 170px;
     left:100px ; }}
  
     @media (min-width:1024px){
      .intro__title1{
        width: 50%;
        top: 170px;
       left:200px ; 

}}
.intro__title2{
  position: absolute;
  width: 250px;
  
  left:211px;
  top: 400px; 

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #FFFFFF;}
                                                                                 
  @media (min-width:400px){
    .intro__title2{
      width: 100%;
     
      top: 400px;
     left:20px ;}}

   @media (min-width:768px){
      .intro__title2{
        width: 50%;
        top: 400px;
       left:100px ; }}

   @media (min-width:1024px){
        .intro__title2{
          width: 50%;
          top: 400px;
         left:200px ; }}
      


    button{
    position: absolute;
    width: 148px;
    height: 30px;
    left:130px;
    top: 548px;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #001958;
    padding-left: 55px;
    
   }
   button{
    position: absolute;
    width: 286px;
    height: 57px;
    left:0px;
    top: 170px;

    background: #FFFFFF;
    border-radius: 100px;
    
   }
   
  
.footer
.numbers{
  position: absolute;
  width: 100%;
  align-items: center;
  top: 772px;
  background: #FFFFFF;

}

.caption{
  width: 100%;
  height: 60px;
 

  top:45px;
  margin-bottom: 31px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 60px;
  color:#001958;


}

@media (min-width:400px) {
  .caption{
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    top:45px;
    margin-bottom: 21px;

    

  }
}

@media (min-width: 768px) {
  .caption{width:100% ;
    height: 80px;
    
    padding-right: 120px;
    padding-left: 120px;
    
    top:40px;
    margin-bottom: 31px;  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    color:#001958;


           
  
  }}

  @media (min-width: 1024px) {
   .caption{width: 100%;
    
    padding-left: 50px;
    padding-right: 50px;
    text-align:center;
    

    font-family: 'Poppins';
           font-style: normal;
           font-weight: 900;
           font-size: 40px;
           line-height: 60px;
           color:#001958;
  }}
  
 
.info{
  
  display: flex;
  flex-wrap: nowrap;
}
.info>div{
  width: 500px;
  margin: 10px;
  text-align: center;

}
@media (min-width:400px){

  .info{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    align-items: center;
  }

    .info>div{
      width: 50%;
      padding-left: 70px;
      padding-right: 70px;
    }
  }

.name{

  position: absolute;

    margin: 20px 0;
   
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500px;
    font-size: 30px;
    line-height:30px;
    align-items: center;

     color:#4F4F4F;}

 .sum{

  
 position: absolute;
 

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900px;
  font-size: 60px;
  line-height:70px;
  align-items: center;
 
  color:#4F4F4F;

}


 
@media (min-width:768px){

  .info{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;}

    .info>div{
      width: 25%;

    }
  }
      
  
  @media (min-width:1024px){

    .info{
      display: flex;
      flex-wrap: wrap;
      align-content: stretch;
      height: 100%;}
  
      .info>div{
        width: 20%;
  
      }
    }
        
  
  



        








      
     
    
  
     
  



 







   
       
      

        
      
         
              
       
              